<div class="wrapper-main">

    <!-- Home Section -->
    <section id="home">
        <div class="jumbotron">
            <div class="container">
                <a class="btn btn-primary btn-lg" href="#" role="button" id="giveButton">Learn More</a>
            </div>
        </div>
        <div class="container">

            <h1 class="browse-fdr-category-header dna-h2">{{charityName}}</h1>
            <div class="row">
                <div class="col-lg-9">
                    <h2>{{tagLine}}</h2><br>
                    <p>Mission: {{mission}}</p><br>
                    <p>Located at: {{city}}, {{state}}</p><br>
                    <p>Current Rating: {{currentRating}} <img src="{{ratingImg}}" alt="rating-image"></p><br>
                    <p>Rating published as of {{formatDate ratingDate day="numeric" month="long" year="numeric"}}</p>
                    <p>Current Score: {{currentScore}}</p><br>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <button class="btn btn-primary btn-lg charityBtn" id="saveCharity" data-ein="{{ein}}">Save This
                            Charity</button>
                    </div>
                    <div class="row">
                        <a class="btn btn-primary btn-lg charityBtn" href="{{websiteURL}}" role="button" id="charityWeb">Visit
                            Website</a>
                    </div>
                    <div class="row">
                        <a class="btn btn-primary btn-lg charityBtn" href="{{charityNavigatorURL}}" role="button"
                            id="charityNavURL">Visit
                            Charity Navigator Website</a>
                    </div>
                    <div class="row">
                        <a class="btn btn-primary btn-lg charityBtn" href="{{charityEmail}}" role="button" id="contact">Contact
                            Charity</a>
                    </div>

                </div>


            </div>

            <div class="row">
                <div class="col-lg-4 center">
                    <p id="programRatio">{{formatNumber programExpensesRatio style="percent"}}</p>
                    <p class="expTag">Program Expenses</p>
                </div>
                <div class="col-lg-4 center">
                    <p id="fundraisingExpenseRatio">{{formatNumber  fundraisingExpenseRatio style="percent"}}</p>
                    <p class="expTag">Fundraising Expenses</pclass="expTag">
                </div>
                <div class="col-lg-4 center">
                    <p id="administrationExpensesRatio">{{formatNumber administrationExpensesRatio style="percent"}}</p>
                    <p class="expTag">Administrative Expenses</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <canvas id="cont2exp"></canvas>
                </div>
                <div class="col-lg-6">
                    <canvas id="expenses"></canvas>
                </div>
            </div>
            <div class="row">
                <h4>Definitions</h4>
                <br>
                <p><span class="definitions">Total Contributions: </span>Total contributions is
                    the sum of all contributions - including gifts, and grants, federated campaigns,
                    membership dues, fundraising events, related organizations, and government grants.</p>
                <p><span class="definitions">Total Revenue: </span>Total revenue, as reported on
                    the income statement for the rating period. Charities can derive revenue or
                    funding from a variety of sources, including contributions, program services,
                    membership dues, interest on savings, investment income, special events, and
                    sales of inventory.</p>
                <p><span class="definitions">Total Expenses: </span>Total functional expenses,
                    computed as the sum of program expenses, administrative expenses and fundraising
                    expenses, as reported on the income statement for the rating period.</p>
                <p><span class="definitions">Program Expenses: </span>This measure reflects the
                    percent of its total expenses a charity spends on the programs and services it
                    exists to deliver.</p>
                <p><span class="definitions">Fundraising Expenses: </span>This measure reflects
                    what a charity spends to raise money. Fundraising expenses can include campaign
                    printing, publicity, mailing, and staffing and costs incurred in soliciting
                    donations, memberships, and grants.</p>
                <p><span class="definitions">Administrative Expenses: </span>As reported by
                    charities on their IRS Form 990, this measure reflects what percent of its
                    total budget a charity spends on overhead, administrative staff and associated
                    costs, and organizational meetings.</p>

            </div>
        </div>



    </section>

</div>


<h2>Recommended charities with the same cause ({{causeName}})</h2>
<div class="card-group">
    {{#each charities}}
    <div class="card" id="charity-cards">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-9">
                    <h5 class="card-title">{{name}}</h5>
                </div>
                <div class="col-lg-3">
                    <a class="more-info" href="/charity/{{ein}}" data-analytics-subtype="button"
                        data-analytics-eventvalue="Get More Information" data-analytics-pagesection="categories"
                        id="{{ein}}">
                        <i class="fa fa-info"></i>
                    </a>
                </div>

            </div>
            <p class="card-text">{{tagLine}}</p>
            <p class="card-text">Current Rating: {{currentRating}} <img src={{currentRatingImg}} alt="..."></p>

        </div>
    </div>
    {{/each}}
</div>





<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="handlebars/dist/handlebars.js"></script>
<script>


    var ctx = $("#expenses");

    var data = {
        datasets: [
            {
                data: [
                    {{ programExpenses }},
            {{ fundraisingExpenses }},
        {{ administrativeExpenses }}        
                ],
    backgroundColor: [
        "rgb(32,178,170)",
        "rgb(97,32,178)",
        "	rgb(178,32,40)"
    ]
              }
            ],
    labels: [
        "Program Expenses",
        "Fundraising Expenses",
        "Administrative Expenses"
    ]
          };

    var chart = new Chart(ctx, {
        type: "doughnut",
        data: data,
        options: {
            title: {
                display: true,
                text: "Distribution of Expenses"
            }
        }
    });

    $("#expenses").append(chart);

    var ctx2 = $("#cont2exp");

    var data = {
        datasets: [
            {
                data: [
                    {{ totalExpenses }},
            {{ totalRevenue }},
        {{ totalContributions }}
                ],
    backgroundColor: [
        "rgb(178,32,113)",
        "rgb(32,113,178)",
        "rgb(113,178,32)",
    ]
              }
            ],
    labels: [
        "Total Expenses",
        "Total Revenue",
        "Total Contributions"
    ]
          };

    var chart2 = new Chart(ctx2, {
        type: "horizontalBar",
        data: data,
        options: {
            title: {
                display: true,
                text: "Expenses, Revenue and Contributions"
            },
            scales: {
                xAxes: [{
                    stacked: true
                }],
                yAxes: [{
                    stacked: true
                }]
            },
            legend: {
                display: false
            }
        }
    });

    $("#cont2exp").append(chart2);

    function formatNumber(num) {
        return console.log(num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));
    }


</script>