{{!-- <body> --}}
<div class="wrapper-main">

    <!-- Home Section -->
    <section id="home">
        <div class="jumbotron jumbotron1"></div>

        <div class="browse-fdr-category">
            <div class="dna-grid-container">
                <section class="dna-grid-row categories">

                    <h1 class="browse-fdr-category-header dna-h2">Browse by fundraising category</h1>
                    <br>
                    {{#each categories}}
                    <a class="dna-grid-col-l-3 category-wrapper fundingTag" href="/category/{{categoryID}}"
                        data-analytics-subtype="button" data-analytics-eventvalue={{category}}
                        data-analytics-pagesection="categories" id={{categoryID}}>
                        <i class="{{iconName}}"> {{category}}</i>
                    </a>
                    {{/each}}
            </div>

            <section class=" dna-grid-row">
                <div class="dna-grid-col-s-12 dna-grid-col-m-6 dna-grid-col-l-12 dna-grid-row category-container">
                </div>
        </div>
    </section>
    <br>
    <br>
    <div class="text-center">
        <h2 class="dna-h2">Recommended charities based on: <span id="charSpan">{{charities.categoryName}}</span></h2>
        <button class="btn btn-primary btn-lg saveCatBtn" id="saveCategory" data-name="{{charities.categoryName}}"
            data-id="{{charities.categoryID}}">Save Current
            Category</button>
    </div>

    <br>

    <div class="container">
        <div class="row styled-row">
            {{#each charities}}
            <div class="col-sm-3">
                <div class="card" id="charity-cards">
                    <div class="card-block">
                        <h4 class="card-title">{{name}}</h4>

                        <p class="card-text">{{tagLine}}</p>
                        <p class="card-text">Current Rating: {{currentRating}} /4 <img class="stars"
                                src={{currentRatingImg}} alt="...">
                        </p>
                        <a class="more-info" href="/charity/{{ein}}" data-analytics-subtype="button"
                            data-analytics-eventvalue="Get More Information" data-analytics-pagesection="categories"
                            id="{{ein}}">more info
                            <i class="fa fa-info-circle fa-style" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>