<div class="wrapper-main">

<h2>More information about user</h2> 

<h2>Your Saved Charities</h2>
<div class="card-group">
    {{#each savedCharities}}
    <div class="card" id="saved-charities">
        <div class="card-header">
            {{charityName}}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-9">
                    <h5 class="card-title">{{tagLine}}</h5>
                </div>
                <div class="col-lg-3">
                    <a class="more-info" href="/charity/{{ein}}" data-analytics-subtype="button"
                        data-analytics-eventvalue="Get More Information" data-analytics-pagesection="categories"
                        id="{{ein}}">
                        <i class="fa fa-info"> Get More Information</i>
                    </a>
                </div>

            </div>
            <p class="card-text">Mission: {{mission}}</p>
            <p class="card-text">Current Rating: {{currentRating}} <img src={{currentRatingImg}} alt="..."></p>

        </div>
    </div>
    {{/each}}
</div>

<h1 class="browse-fdr-category-header dna-h2">Your Saved Charity Categories</h1>
                    <br>
                    {{#each savedCategories}}
                    <a class="dna-grid-col-l-3 category-wrapper fundingTag" href="/category/{{categoryID}}"
                        data-analytics-subtype="button" data-analytics-eventvalue={{category}}
                        data-analytics-pagesection="categories" id={{categoryID}}>
                        <i class="{{Category.iconName}}"> {{category}}</i>
                    </a>
                    {{/each}}






{{!-- <h2>Recommended charities</h2>
<div class="card-group">
    {{#each charities}}
    <div class="card" id="charity-cards">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-9">
                    <h5 class="card-title">{{name}}</h5>
                </div>
                <div class="col-lg-3">
                    <a class="more-info" href="/charity/{{ein}}" data-analytics-subtype="button"
                        data-analytics-eventvalue="Get More Information" data-analytics-pagesection="categories"
                        id="{{ein}}">
                        <i class="fa fa-info"></i>
                    </a>
                </div>

            </div>
            <p class="card-text">{{tagLine}}</p>
            <p class="card-text">Current Rating: {{currentRating}} <img src={{currentRatingImg}} alt="..."></p>

        </div>
    </div>
    {{/each}} --}}
</div>